.image-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .image-item {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
  }
  
  .image-container {
    position: relative;
    overflow: hidden;
    border-radius: 30px;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
  }
  
  .image-details {
    padding: 10px;
    background-color: #f9f9f9;
  }
  
  .image-text {
    margin-bottom: 10px;
  }
  
  .image-button {
    display: block;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }
  